fastapi==0.134.0
uvicorn[standard]==0.41.0
pydantic-settings==2.13.1
pinecone==7.3.0
langchain==1.2.10
langchain-openai==1.1.10
langchain-huggingface==1.2.0
langchain-pinecone==0.2.13
sentence-transformers==5.2.3
openai==2.24.0
python-dotenv==1.2.1
structlog==25.5.0
